[Unit]
Description=My app 2
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name app2 busybox \
          /bin/sh -c "while true; do echo Hello world; sleep 1; done"
ExecStop=/usr/bin/docker kill app2

[X-Fleet]
X-Conflicts=app.*.service